_target_: models.networks.unet.DiffusionUNet
img_resolution: ${data.img_resolution}
in_channels: ${data.in_channels}
out_channels: ${data.out_channels}
encoder_type: residual
decoder_type: standard
model_channels: 128
num_blocks: 4
attn_resolutions: [16]
channel_mults: [2, 2, 2]
channel_mult_emb: 4
dropout: 0.1
resample_filter: [1, 3, 3, 1]
noise_embedding_type: fourrier
channel_mult_noise: 2
label_dim: ${data.label_dim}
label_dropout: 0